QTabBar::tab:selected {
    background-color: #a4bddb;
    border-bottom: 0;
    border-top-left-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    font: bold;
    padding: 5px;
    width: 200%;
}

QHeaderView {
    background-color: #ddd;
    color: #000;
}

QHeaderView::section:selected {
    background-color: #ddd;
    color: #000;
}

QToolTip {
    alternate-background-color: #fff;
    background-color: #fff;
    border: .1ex solid #eff0f1;
    color: #000;
    padding: .5ex;
}

QRadioButton {
    color: #000;
}

QStatusBar {
    color: #000;
}

QTabBar::tab:!selected {
    background-color: #808080;
    border-bottom: 0;
    border-top-left-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    color: #FFF;
    padding: 5px;
    width: 200%;
}

QLineEdit {
    background-color: #FFF;
    border: 1px solid #000;
    color: #000;
    padding: 1px 0 0;
}

QTabBar::tab:!selected:hover {
    background-color: #808080;
}

QTabWidget::tab-bar {
    background-color: #FFF;
    border-bottom: 1px solid #FFF;
}

QTabWidget::pane {
    position: absolute;
}

QTableView::item:selected {
    background-color: #eaeaea;
    color: #000;
}

QMainWindow, QTableCornerButton::section, QTabBar {
    background-color: #FFF;
}

QTextBrowser, QTableView, QTreeWidget {
    background-color: #FFF;
    color: #000;
}

QMenuBar, QHeaderView::section {
    background-color: #FFF;
    color: #000;
}

QSplitter, QSplitter::handle, QWidget#widget_9,
QWidget#tab_ps, QWidget#tab_sd, QWidget#tab_bank {
    background-color: #a4bddb;
}