QTabBar::tab:selected {
    background-color: #444851;
    border-bottom: 0;
    border-top-left-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    color: #FFF;
    font: bold;
    padding: 5px;
    width: 200%;
}

QTabWidget::pane {
    background-color: #31363b;
    position: absolute;
}

QLineEdit {
    background-color: #5e616e;
    border: 1px solid #696969;
    color: #FFF;
    padding: -2px 0 0;
}

QMenuBar::item:pressed {
    background-color: #444851;
    color: #FFF;
}

QSplitter::handle {
    background-color: #444851;
    border: .1ex dashed #76797c;
}

QMenuBar {
    background-color: #31363b;
    color: #FFF;
}

QTableView::item:selected {
    background-color: #3b4045;
    color: #FFF;
}

QToolTip {
    alternate-background-color: #3b4045;
    background-color: #31363b;
    border: .1ex solid #eff0f1;
    color: #eff0f1;
    padding: .5ex;
}

QHeaderView::section {
    background-color: #444851;
    color: #fff;
}

QHeaderView::section:selected {
    background-color: #3b4045;
    color: #fff;
}

QTabBar::tab:!selected {
    background-color: #191a20;
    border-bottom: 0;
    border-top-left-radius: 10px 5px;
    border-top-right-radius: 10px 5px;
    color: #FFF;
    padding: 5px;
    width: 200%;
}

QTabBar::tab:!selected:hover {
    background-color: #727888;
}

QTabWidget::tab-bar {
    background-color: #31363b;
    border-bottom: 1px solid #31363b;
}

QHeaderView, QMainWindow, QTabBar, QTabWidget {
    background-color: #31363b;
}

QMenuBar::item:hover, QMenuBar::item:selected, QWidget#widget_9,
QWidget#tab_ps, QWidget#tab_sd, QWidget#tab_bank,
QSplitter, QTableCornerButton::section {
    background-color: #444851;
}

QTreeView, QTextBrowser, QTableView {
    background-color: #31363b;
    color: #FFF;
}

QStatusBar, QRadioButton {
    color: #FFF;
}

QScrollBar:vertical, QScrollBar:horizontal {
    background-color: #2A2929;
}