[Desktop Entry]
Name=ZOIA Librarian
Comment=Patch manager for the Empress ZOIA pedal
Exec=zoia-librarian
Icon=io.github.meanmedianmoge.zoia_lib
Terminal=false
Type=Application
Categories=AudioVideo;Utility;
